spring:
  config:
    activate:
      on-profile: test

  datasource:
    url: jdbc:h2:mem:next5_test_db;DB_CLOSE_DELAY=-1;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    open-in-view: false

  cache:
    type: redis

  data:
    redis:
      host: localhost
      port: 6379
  sql:
    init:
      mode: always

  elasticsearch:
    uris: http://elasticsearch:9200

logging:
  level:
    org.hibernate.SQL: debug

jwt:
  secret: ${JWT_SECRET}
  access-exp: 10m
  refresh-exp: 14d
